<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867081091588-s25jghivlk0se6rn38ofo9cf0q7lpdrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867081091588-s25jghivlk0se6rn38ofo9cf0q7lpdrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBJBCfgUR3oV6dyV8YysLYIu4JLPSEJvOE</string>
	<key>GCM_SENDER_ID</key>
	<string>867081091588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmms</string>
	<key>PROJECT_ID</key>
	<string>cmms-f4808</string>
	<key>STORAGE_BUCKET</key>
	<string>cmms-f4808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867081091588:ios:ca4eeaa83eeccb1d4dd351</string>
</dict>
</plist>